// prefix declarations
@mixin fontfamily(){
  font-family: 'Bree Serif', serif;
}

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}