@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

*,
*:before,
*:after {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
html{
  font-size: 10px;
}
.app-container {
  font-family: 'Bree Serif', serif;
  @include fontfamily;
  margin: auto;
  background-color: $backgroundColor;
  text-align: center;
  padding: 0;
}
