.rc-button{
  background: $buttonColor;
  width: 100%;
  font-size: 1.2rem;
  color: $blackColor;
  display: block;
  text-align: center;
  margin: 2rem auto;
  max-width: 364px;
  text-decoration: none;
  line-height: 3;
  letter-spacing: 0.2px;
}