.featureProduct-Section{
  background: rgb(255, 252, 243);
  @include flexbox;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
  height: 100%;
  .feature-body{
    width: 80vw;
    margin: 3.5rem auto;
    align-self:stretch;
    text-align: left;
    h2{
      font-size: 2rem;
      @include fontfamily;
      color: $blackColor;
      line-height: 1.5;
      letter-spacing: 0.6px;
      margin-bottom: 1.5rem;
      @media (max-width: 520px) {
        font-size: 1.5rem;
        text-align: center;
      }
      @media (max-width: 360px) {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }

}