
.header-Section {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-height: 450px;
  overflow: hidden;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  @include flexbox;
  align-items: center;
  justify-content: center;
  background-image: url('https://www.dropbox.com/s/omk72yibizkp2m3/fullScreen.jpg?raw=1');
  transition: background-color 0.25s ease-in-out;

  .main-content{
    max-width: 35rem;
    background: rgba(255,255,255,0.80);
    padding: 2rem;
    .header-container{
      h1{
        line-height:1;
        text-align: center;
        color: $blackColor;
        font-size: 3rem;
        font-weight: normal;
        @include fontfamily;
        @media (max-width: 520px) {
          font-size: 1.8rem;
          text-align: center;
        }
        @media (max-width: 360px) {
          font-size: 1.6rem;
          text-align: center;
        }

      }
    }
  }
}