.newsSection-Section{
  @include fontfamily;
  .newsSection-grid{
  @include flexbox;
    padding: .5vw;
    margin: -10px;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    .newsSection-child{
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 200px;
      margin: .5vw;
      height: auto;
      img{
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
      .newsSectionBody{
        margin:2rem auto;
        h2{
          @include fontfamily;
          font-size: 1.4rem;
          color: $blackColor;
          letter-spacing: 0.02px;
          &:nth-child(2){
            margin: 1rem 0;
            min-height: 3.5rem;
            width: 90%;
            word-wrap: break-word;
          }

        }
        h5{
          /* READ MORE: */
          @include fontfamily;
          font-size: 1rem;
          color: #a09c97;
          letter-spacing: 0.05px;
          @media (max-width: 520px) {
            text-align: center;
          }
        }
      }
    }
  }
}