.carousel {
  background: transparent;
  .carousel-cell {
    //width: 28%;
    width: 100%;
    height: auto;
    margin-right: 2rem;
    background: transparent;
    @media screen and ( min-width: 768px ) {
       width: 50%;
    }
    @media screen and ( min-width: 1024px ) {
      width: calc(100% - 75% - 5px)
    }
    .carousel-section{
      text-align: left;
      margin-top:2rem;
      h4{
        letter-spacing: 0.2px;
        font-size: 1.6rem;
        font-weight: normal;
        @include fontfamily;
        color: $blackColor;
        &:nth-of-type(2){
          margin-top: 0.5rem;
        }
        .text-right{
          float: right;
        }
      }

    }
     &:before{
       background: #fff;
       width: 100%;
       height: 270px;
       border-radius: 0.5rem;
       display: block;
       text-align: center;
       content: '';
     }

  }


  /* smaller, dark, rounded square */
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
  }
  .flickity-prev-next-button:hover {
    fill: $blackColor;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: $blackColor;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  /* position outside */
  .flickity-prev-next-button.previous {
    left: -40px;
  }
  .flickity-prev-next-button.next {
    right: -40px;
  }
}

